* {
    /* Main Waybar styling */
    border: none;
    font-family: monospace, "Noto-Sans";
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
    min-height : 0;
}

window#waybar {
    /* Overall Waybar styling */
    background-color: black;
}

/* Base style for all "islands" */
#workspaces,
#niri-window,
#clock,
#wireplumber,
#backlight,
#memory,
#network,

#tray {
    background-color: transparent;
    border-radius: 12px;
    margin: 2px; /* Space between islands */
    padding: 2px 10px;
}

/* Left - Workspaces */
#workspaces button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 12px;
    padding: 0 4px;
}

#workspaces button.active {
    color: #89b4fa;
    border-radius : 12px;
}

/* Center - Window Title and Clock */
#niri-window {
    background-color: rgba(45, 45, 65, 0.9); /* A slightly different shade */
}

/* Right - All other modules */
#tray {
    background-color: transparent;
    padding-right: 5px; /* Adjust as needed */
}
