
@import "colors.css";

#window {
    background-color: @surface;
    border: 2px solid @primary;
    border-radius: 14px;
}

#input {
    background-color: @surface-container-highest;
    color: @on-surface;
    border: none;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
}

#input:focus {
    outline: none;
}

#inner-box {
    margin: 0px 10px;
}

#scroll {
    margin-bottom: 10px;
}

#entry {
    padding: 10px;
    border-radius: 8px;
    color: @on-surface-variant;
}

#entry:selected {
    background-color: @primary-container;
    color: @on-primary-container;
}

#text {
    color: #f8f8f2;
}
